body { background-color:  #000000; width: 100%; height: 100%; position: relative;line-height:1; overflow: scroll; position: relative;min-height: 100%; margin:0px auto;  line-height:1; padding:0px 0; font-family: "Open Sans", "Helvetica Neue", "Helvetica", "verdana", "sans-serif";}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
.Main {width: 100%; background-color: transparent; text-align: center; position: relative;}
.Main .MainAwesome {width: 100%; position: relative;}
.Main .MainAwesome figure {text-align: left;}
.Main .MainAwesome .GIFY {width:50%;height:0;padding-bottom:15%;position:relative; margin: 0 auto;}
.Main .MainLoad {display: inline-block; width: 990px; background-color: #000000; margin: 90px auto;}
.Main .MainLoad input {width: 89%; background-color: #0a0a0a; border: none; height: 90px; font-size: 35px; outline: none; color: #ffffff;}
.Main .MainLoad input:hover, .Main .MainLoad input:focus, .Main .MainLoad input:active {background-color: #151515; border-bottom: 2px solid #ffff00; height: 90px;} 
.Main .MainLoad button {width: 10%; background-color: #ffff00; border: none; height: 90px; vertical-align: top; font-size: 15px;}
.Main .MainLoad button:hover {background-color: #ffffff; font-weight: bold;}
.Main .MainDeploy {display: inline-block; float: left; margin: 20px 0; font-size: 18px; color: #ffffff; text-decoration: none;}
.Main .MainDeploy span {color: #00ff00; border-bottom: 1px solid #00ff00; font-size: 20px;}
.Main .MainDeploy span:hover {color: #000000; border: none; background-color: #00ff00;}
.Main .MainMsg {width: 100%; background-color: #ff0000; position: fixed; min-height: 50px; padding: 25px 0; top: 0; left: 0; z-index: 9999999;}

.Nav {width: 100%; background-color: #ffffff; text-align: center;  display: inline-block; padding: 30px 0;}
.NavAll {width: 100%; text-align: center;  display: inline-block;}
.NavAll .NavDeploy {width: 720px; text-align: center; padding: 10px 20px; margin: 0 auto;}
.NavAll .NavDeploy > div {width: 70%; text-align: left; display: inline-block; padding: 15px 0;}
.NavAll .NavDeploy .special {border-bottom: 1px solid #000000;}
.NavAll .NavDeploy h4 {font-size: 18px;}
.NavAll .NavDeploy > div > label {width: 60%; display: inline-block; font-size: 15px;}
.NavAll .NavDeploy > div > input {width: 30%; display: inline-block;height: 25px;}
.NavAll .crea button {width: 100%;height: 30px;background-color: #000000;color: #ffffff;}
.NavDeploy .MainHow {text-align: left; width: 990px; margin: 0 auto; margin-top: 50px;}
.NavDeploy .MainHow p {font-size: 15px; color: #ffffff; clear: both; margin: 10px 0; display: inline-block; line-height: 1.3}
.NavDeploy .MainHow h3 {font-size: 35px; color: #ffffff; line-height: 1.3; text-align: center;}

.BOLD {font-weight: bold !important;}
.NOEFFECT {-webkit-transition-duration: 0.0s !important; transition-duration: 0.0s !important;}
.BLUR {-webkit-transition: -webkit-filter 100ms ease-in-out;-moz-transition: -moz-filter 100ms ease-in-out;-o-transition: -o-filter 100ms ease-in-out;-ms-transition: -ms-filter 100ms ease-in-out;transition: filter 100ms ease-in-out; -webkit-filter:blur(4px);-moz-filter: blur(4px);-o-filter: blur(4px);-ms-filter: blur(4px);filter: blur(4px);}
.BLURHOVER:hover {-webkit-transition: -webkit-filter 100ms ease-in-out;-moz-transition: -moz-filter 100ms ease-in-out;-o-transition: -o-filter 100ms ease-in-out;-ms-transition: -ms-filter 100ms ease-in-out;transition: filter 100ms ease-in-out; -webkit-filter:blur(4px);-moz-filter: blur(4px);-o-filter: blur(4px);-ms-filter: blur(4px);filter: blur(4px);}
.NOBLUR {-webkit-filter:blur(0px) !important;-moz-filter: blur(0px) !important;-o-filter: blur(0px) !important;-ms-filter: blur(0px) !important;filter: blur(0px) !important;}
.OPA02 {opacity: 0.2 !important;}
.OPA08 {opacity: 0.8 !important;}
.OPA1 {opacity: 1 !important;}
.HIDEO {opacity: 0 !important; display: none !important; z-index: -10000!important; text-indent: -99999999px!important;}
.icon_circle {-webkit-border-radius: 50% !important;-webkit-border-radius: 9999999px; -moz-border-radius: 50% !important; -moz-border-radius: 9999999px; border-radius: 50% !important; border-radius: 9999999px; border-top-right-radius: 50% !important;border-top-left-radius: 50% !important;border-bottom-right-radius: 50% !important;border-bottom-left-radius: 50% !important;border-top-right-radius: 9999999px;border-top-left-radius: 9999999px;border-bottom-right-radius: 9999999px;border-bottom-left-radius: 9999999px;}

@media screen and (max-device-width: 900px) {
  .main article .GIFY {width:100% !important;}
}
