body { background-color:  #000000; width: 100%; position: relative;line-height:1; overflow: scroll; position: relative; margin:0px auto;  line-height:1; padding:0px 0; font-family: "Courier New", "Lucida Console", "Courier", "Times", "Arial";}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
.Main {width: 100%; background-color: transparent; text-align: center; position: relative;}
.Main .MainLoader {width: 100%; position: fixed; top: 0; left: 0; background-color: #000000f2; z-index: 8888; height: 100%; overflow: hidden;}
.Main .MainLoader figure {text-align: center; display: inline-block; margin-top: 100px;}
.Main .MainLoader figure > div {width: 500px; height: 500px; display: inline-block;}
.Main .MainLoader figure > div iframe {width: 500px;height: 500px; position: relative;}
.Main .MainAwesome {width: 100%; position: relative;}
.Main .MainAwesome figure {text-align: left;}
.Main .MainAwesome .GIFY {width:50%;height:0;padding-bottom:15%;position:relative; margin: 0 auto;}
.Main .MainAwesome h4 {font-size: 35px; text-align: center; color: #ffffff; display: inline-block; width: 100%; margin: 50px 0 0 0; font-weight: bold;}
.Main .MainAwesome p {font-size: 13px; text-align: center; color: #ffffff; display: inline-block; width: 500px; line-height: 1.2;}
.Main .MainAwesome .MainBtn, .UnderstandingDFO .MainBtn {width: 100%; display: inline-block; margin: 60px 0 10px 0; text-align: center; clear: both;}
.Main .MainAwesome .MainBtn a, .UnderstandingDFO .MainBtn a {margin: 0 30px; display: inline-block; padding: 10px 25px; text-decoration: underline; color: #ff00ff; font-size: 18px;font-weight: bold;}
.Main .MainAwesome .MainBtn a:hover, .UnderstandingDFO .MainBtn a:hover {background-color: #ff00ff; color: #000000; text-decoration: none;}
.Main .MainLoad {display: inline-block; width: 990px; background-color: #000000; margin: 50px auto 90px auto;}
.Main .MainLoad input {width: 89%; background-color: #0a0a0a; border: none; height: 90px; font-size: 35px; outline: none; color: #ffff00; font-weight: lighter;}
.Main .MainLoad input:hover, .Main .MainLoad input:focus, .Main .MainLoad input:active {background-color: #151515; border-bottom: 2px solid #ffff00;} 
.Main .MainLoad button {width: 10%; border: none; background-color: #000000; height: 90px; vertical-align: top; font-size: 22px; color: #ffff00; text-decoration: underline;}
.Main .MainLoad button:hover {background-color: #ffff00; font-weight: bold; color: #000000; text-decoration: none;}
.Main .MainDeploy {display: inline-block; float: left; margin: 20px 0; font-size: 18px; color: #ffffff; text-decoration: none;}
.Main .MainDeploy span {color: #00ff00; border-bottom: 1px solid #00ff00; font-size: 20px;}
.Main .MainDeploy span:hover {color: #000000; border: none; background-color: #00ff00;}
.Main .MainMsg {width: 100%; background-color: #00ffff; position: fixed; min-height: 30px; padding: 5px 0; bottom: 0; left: 0; z-index: 9999999; }
.Main .MainMsg button {position: absolute;top: 0;right: 0;background-color: transparent;border: none;text-decoration: underline;font-size: 12px;color: #2f2f2f;}
.Main .MainMsg_warning {background-color: #ff00ff;}
.Main .MainMsg_error {background-color: #ff0000;}
.Main .MainMsg_success {background-color: #00ff00;}
.NoWeb3 {width: 100%; background-color: #000000; text-align: center;}
.NoWeb3 > figure {width: 100%; display: inline-block; height: 200px; margin: 50px auto; text-align: center;}
.NoWeb3 > figure img {width: 200px;height: 200px;}
.NoWeb3 .DisclamerWeb3 {width: 500px; text-align: center; display: inline-block; margin: 10px auto;}
.NoWeb3 .DisclamerWeb3 h2 {font-size: 30px; font-weight: lighter; color: #ff00ff;}
.NoWeb3 .DisclamerWeb3 p {font-size: 16px; color: #ffffff; line-height: 1.4;}
.NoWeb3 .DisclamerWeb3 p a {font-size: 15px; color: #00ff00; font-weight: bold; padding: 0 3px;}
.NoWeb3 .DisclamerWeb3 p a:hover {color: #000000; background-color: #00ff00; text-decoration: none;}
.UnderstandingDFO {width: 750px; background-color: #000000; margin: 0 auto 30px auto; text-align: left;}
.UnderstandingDFO h1 {font-size: 40px; color: #ffff00;}
.UnderstandingDFO h3 {font-size: 25px; color: #ffffff; font-weight: bold; line-height: 1.2;}
.UnderstandingDFO h4 {font-size: 20px; color: #ffffff; font-weight: bold; line-height: 1.2;}
.UnderstandingDFO p {font-size: 16px; color: #ffffff; line-height: 1.2;}
.UnderstandingDFO ul {width: 100%;display: inline-block;}
.UnderstandingDFO ul li {width: 650px; color: #00ffff;}
.UnderstandingDFO ul li h4 {color: #00ffff; font-weight: normal;}
.UnderstandingDFO > figure {width: 750px; display: inline-block; margin: 0;}
.UnderstandingDFO > figure img {width: 750px;}

.Nav {width: 100%; background-color: #f1f1f1; text-align: center;  display: inline-block; padding: 30px 0;}
.NavAll {width: 100%; text-align: center;  display: inline-block;}
.NavAll .NavChooser {text-decoration: none; text-align: center; display: inline-block; width: 720px;}
.NavAll .NavChooser li {display: inline-block; width: 30%; padding: 10px 0 15px 0; border-bottom: 1px solid #cccccc; text-align: center;}
.NavAll .NavChooser li:hover {border-bottom: 1px solid #000000;}
.NavAll .NavChooser li a {font-size: 18px; color: #545454; text-decoration: none; display: inline-block; width: 100%; text-align: center;}
.NavAll .NavChooser li:hover a {color: #000000; font-weight: bold;}
.NavAll .NavChooser .selected, .NavAll .NavChooser .selected:hover {background-color: #000000; border-bottom:1px solid #000000;}
.NavAll .NavChooser .selected a, .NavAll .NavChooser .selected:hover a {font-weight: bold; color: #ffffff;}
.NavAll .NavDeploy, .NavAll .NavPropose {width: 720px; text-align: center; padding: 10px 20px; margin: 0 auto;}
.NavAll .NavDeploy > div, .NavAll .NavPropose > div {width: 70%; text-align: left; display: inline-block; padding: 15px 0;}
.NavAll .NavDeploy .special, .NavAll .NavPropose .special {border-bottom: 1px solid #cccccc;}
.NavAll .NavDeploy h4, .NavAll .NavPropose h4 {font-size: 18px;}
.NavAll .NavDeploy > div > label, .NavAll .NavPropose  > div > label {width: 60%; display: inline-block; font-size: 15px;}
.NavAll .NavDeploy > div > input, .NavAll .NavPropose  > div > input {width: 30%; display: inline-block;height: 25px;}
.NavAll .NavDeploy  button {width: 100%;height: 40px;background-color: #00ff00;color: #000000; font-size: 14px; border: none;}
.NavAll .NavDeploy  button:hover {font-weight: bold;}
.NavAll .NavPropose  button {width: 100%;height: 40px;background-color: #ffff00;color: #000000; font-size: 14px; border: none;}
.NavAll .NavPropose  button:hover {font-weight: bold;}
.NavAll .NavPropose input[type="checkbox"] {text-align: center;}
.NavAll .NavPropose select {width: 30%; height: 25px; background-color: #000000; color: #ffffff; border-radius: 0;}
.NavAll .NavRunRw {width: 720px; text-align: center; padding: 10px 20px; margin: 0 auto;}
.NavAll .NavRunRw li {text-decoration: none; display: inline-block; width: 100%; padding: 25px 0; text-align: right; border-bottom: 1px solid #cccccc;}
.NavAll .NavRunRw .RwCn {width: 100%; display: inline-block; font-size: 20px; font-weight: bold; text-align: left; padding: 15px 0;}
.NavAll .NavRunRw .RwWrite, .NavAll .NavRunRw .RwRead {padding: 5px 10px; border: none; background-color: #000000; color: #ffffff; font-size: 14px; margin: 0 10px;}
.NavAll .NavRunRw .RwIntern {padding: 5px 10px; border: none; color: #000000; font-size: 14px; margin: 0 10px;}
.NavAll .NavRunRw .RwWrite:hover, .NavAll .NavRunRw .RwRead:hover {background-color: #ffff00; color: #000000;}
.NavAll .NavRunRw .RwSm, .NavAll .NavRunRw .RwPa {color: #000000; font-size: 13px; padding: 5px;}
.NavAll .NavRunRw .RwSm:hover, .NavAll .NavRunRw .RwPa:hover {background-color: #ff00ff; text-decoration: none;}
.NavAll .NavGovern ul {text-decoration: none; text-align: center; display: inline-block; width: 800px;}
.NavAll .NavGovern li {width: 100%; text-decoration: none; display: inline-block; border-bottom: 1px solid #cccccc; padding: 20px 0;}
.NavAll .NavGovern .NavGovernTitle {width: 30%; text-align: left; display: inline-block; vertical-align: top;}
.NavAll .NavGovern .NavGovernTitle p {font-size: 25px; display: inline-block; width: 100%;margin-block-start: 0;margin-block-end: 0; margin-bottom: 5px;}
.NavAll .NavGovern .NavGovernTitle a {font-size: 12px; display: inline-block; margin-bottom: 5px;}
.NavAll .NavGovern .NavGovernNerd {width:35%; text-align: left; margin: 0 1%;display: inline-block; vertical-align: top;}
.NavAll .NavGovern .NavGovernNerd p {margin-block-start: 0;margin-block-end: 0; margin-bottom: 5px;font-size: 14px; display: inline-block; width: 100%;}
.NavAll .NavGovern .NavGovernVote {width: 30%; text-align: left;display: inline-block; vertical-align: top;}
.NavAll .NavGovern .NavGovernVote h3 {font-weight: bold; margin-block-start: 0;margin-block-end: 0; margin: 10px 0;font-size: 18px; display: inline-block; width: 100%;}
.NavAll .NavGovern .NavGovernVote p {margin-block-start: 0;margin-block-end: 0; margin: 2px 0;font-size: 13px; display: inline-block; width: 100%;}
.NavAll .NavGovern .NavGovernVote input {width: 40%;}
.BOLD {font-weight: bold !important;}

@media screen and (max-width: 1650px) {
  .Main .MainLoader figure > div {width: 450px;height: 450px;}
  .Main .MainLoader figure > div iframe {width: 450px;height: 450px;}
  }
@media screen and (max-width: 1500px) {
  .Main .MainLoader figure > div {width: 400px;height: 400px;}
  .Main .MainLoader figure > div iframe {width: 400px;height: 400px;}
  }
@media screen and (max-width: 1400px) {
  .Main .MainLoader figure > div {width: 350px;height: 350px;}
  .Main .MainLoader figure > div iframe {width: 350px;height: 350px;}
  }
@media screen and (max-width: 1200px) {
  .Main .MainLoader figure > div {width: 300px;height: 300px;}
  .Main .MainLoader figure > div iframe {width: 300px;height: 300px;}
  }
@media screen and (max-width: 900px) {
.MainAwesome .GIFY {width:100% !important; padding-bottom: 30% !important;}
.Main .MainLoad {width: 88%; margin: 15px auto 25px auto;}
.Main .MainAwesome p {width: 90%;}
.Main .MainAwesome h4 {font-size: 25px; width: 90%;}
.Main .MainAwesome .MainBtn, .UnderstandingDFO .MainBtn {width: 90%;margin: 15px 0 10px 0;}
.Main .MainAwesome .MainBtn a, .UnderstandingDFO .MainBtn a {margin: 0 10px; padding: 10px 7px;font-size: 13px;}
.Main .MainLoad input {width: 80%; font-size: 20px; font-weight: bold; height: 50px;}
.Main .MainLoad button {height: 50px; width: 20%; font-size: 18px;}
.Main .MainDeploy {font-size: 15px;}
.Main .MainDeploy span {font-size: 16px;}
.NavAll .NavChooser {margin-block-end: 0;margin-block-start: 0;padding-inline-start: 0;width: 98%;}
.NavAll .NavChooser li {width: 32%; padding:  9px 0 10px 0;}
.NavAll .NavChooser li a {font-size: 12px; font-weight: bold;}
.NavAll .NavGovern ul {width: 100%;}
.NavAll .NavDeploy, .NavAll .NavPropose, .NavAll .NavGovern { width: 92%; padding: 10px 0;}
.NavAll .NavDeploy > div, .NavAll .NavPropose > div { width: 90%; text-align: center;}
.NavAll .NavDeploy > div > label, .NavAll .NavPropose > div > label {width: 90%; margin-bottom: 10px;}
.NavAll .NavDeploy > div > input, .NavAll .NavPropose > div > input {width: 90%;}
.NavAll .NavPropose select {width: 90%;}
.NavAll .NavRunRw {margin-block-end: 0;margin-block-start: 0;padding-inline-start: 0;width: 95%; padding: 10px 0;}
.NavAll .NavRunRw .RwCn {font-size: 18px; word-wrap: break-word;}
.DisclamerWeb3 {width: 90%;}
.UnderstandingDFO {width: 95%; margin-block-end: 0;margin-block-start: 0;padding-inline-start: 0}
.UnderstandingDFO ul {margin-block-end: 0;margin-block-start: 0;padding-inline-start: 0}
.UnderstandingDFO ul li {width: 95%; margin-block-end: 0;margin-block-start: 0;padding-inline-start: 0;}
.UnderstandingDFO ul li h4 {margin-block-end: 0;margin-block-start: 0;padding-inline-start: 0;}
.UnderstandingDFO > figure {width: 100%; display: inline-block; margin: 0;}
.UnderstandingDFO > figure img {width: 100%;}
}